# Virtualenv
brickbox-env/*
bbenv/*
env/*
.env

# python
*/__pycache__/*
__pycache__/
*get-pip.py

# Django
db.sqlite3

# API
bb_api/templates/api_docs_source/build/*

# Logs
*/logs/*
!.gitkeep
bash_errors.log
brick_connect_errors.log
