asgiref==3.3.4
certifi==2021.5.30
chardet==4.0.0
conventional-commit==0.4.2
Django==3.2.3
enforce-git-message==1.0.1
idna==2.10
packaging==19.2
prompt-toolkit==3.0.18
pyparsing==2.4.7
pyperclip==1.8.2
pytz==2021.1
requests==2.25.1
six==1.16.0
sqlparse==0.4.1
urllib3==1.26.5
wcwidth==0.2.5
