{% extends 'layouts/base.html' %}

{% load static %}

{% load socialaccount %}

{% block title %} Login {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="/static/css/register.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block body_class %}is-preload{% endblock %}

{% block login %}

<div class="row justify-content-center" style="min-height: calc(100vh - 110px)">
    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6">
        <div class="card">

            <div class="card-header">

                <h5 class="title" style="text-align:center;">Login</h5>

                <h6 class="card-category" style="text-align:center;">
                    Another brick in the wall.
                </h6>

            </div>

            <form id="login-form" method="post" action="{% url 'bb_accounts:login' %}">

                <div class="card-body">

                    <!-- ------------------------- START - Google Auth ------------------------- -->
                    <!-- <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <a href="{% provider_login_url 'google' %}">Login With Google</a>
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <div id="g_id_onload" data-client_id="918414840239-qljh31euklmcem5ec7s72a726r3aofsr.apps.googleusercontent.com" data-login_uri="/tokensignin/" data-auto_prompt="false">
                                </div>
                                <div class="g_id_signin" data-type="standard" data-size="large" data-theme="filled_black" data-text="sign_in_with" data-shape="rectangular" data-logo_alignment="left">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- -------------------------- END - Google Auth -------------------------- -->


                    <div class="row">
                        <div class="col">
                            <div class="form-group" style="text-align: center;">
                                OR
                            </div>
                        </div>
                    </div>

                    {% csrf_token %}

                    <div class="row">
                        <div class="col">
                            <div class="form-group">

                                {{ form.non_field_errors }}
                                <div class="fieldWrapper">
                                    {{ form.username.errors }}
                                    <label for="{{ form.username.id_for_label }}">Email</label>
                                    <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" class="form-control" id="id_username" placeholder="Email" required>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col">
                            <div class="form-group">

                                <div class="fieldWrapper">
                                    {{ form.password.errors }}
                                    <label for="{{ form.password.id_for_label }}">Password</label>
                                    <input type="password" name="password" autocomplete="current-password" required id="id_password" placeholder="Password" class="form-control">
                                </div>


                            </div>
                        </div>
                    </div>


                    <div class="card-footer" style="text-align: center;">
                        <button type="submit" value="Log In" name="login" class="btn btn-fill btn-primary">Login</button>
                        <br><br>
                        Don't have an account? <a href="{% url 'bb_accounts:register' %}" class="text-primary">Register</a>
                    </div>

            </form>

        </div>
    </div>
</div>




{% endblock login %}
