{% extends "layouts/base.html" %}

{% block title %} Register {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="/static/css/register.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block registration %}

<div class="row justify-content-center">
    <div class="col-md-3">
        <div class="card">

            <form role="form" method="post" action="">
                {% csrf_token %}

                <div class="card-header">
                    <h5 class="title">Lay your own path, brick by brick.</h5>

                    <h6 class="card-category">
                        Register & Start Building
                    </h6>
                </div>

                <div class="card-body">

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <script src="https://accounts.google.com/gsi/client" async defer></script>
                                <div id="g_id_onload" data-client_id="YOUR_GOOGLE_CLIENT_ID" data-login_uri="https://your.domain/your_login_endpoint" data-auto_prompt="false">
                                </div>
                                <div class="g_id_signin" data-type="standard" data-size="large" data-theme="outline" data-text="sign_in_with" data-shape="rectangular" data-logo_alignment="left">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <a id="github-button" class="btn btn-block btn-social btn-github">
                                    <i class="fa fa-github"></i> Sign in with GitHub
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group" style="text-align: center;">
                                OR
                            </div>
                        </div>
                    </div>

                    <!-- <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Username</label>
                                <input class="form-control" id="username_create" name="username" required="" type="text" value="" placeholder="Username">
                            </div>
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" id="email_create" name="email" required="" type="email" value="" placeholder="Email" autocomplete="email">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Password</label>
                                <input class="form-control" id="pwd_create" name="password" required="" type="password" value="" placeholder="Password" autocomplete="new-password">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="card-footer" style="text-align: center;">
                    <button type="submit" name="register" class="btn btn-fill btn-primary">Register</button>
                    <br>
                    Have an account? <a href="{% url 'bb_accounts:login' %}" class="text-primary">Login</a>
                </div>

            </form>

        </div>
    </div>
</div>


{% endblock registration %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
