{% extends "layouts/base.html" %}

{% block title %} Billing {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- ----------------------- START - Payment Methods ----------------------- -->
<div class="col-lg-12 col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 class="title">Payment Methods</h3>
        </div>

        {% if profile.pay_methods.all.count >= 1 %}
        <div class="card-body">
            {% for payment_method in profile.pay_methods.all %}
            {{ payment_method.brand }} - {{ payment_method.last4 }}
            <br>
            {% endfor %}
        </div>
        {% endif %}

        <div class="card-footer text-center">
            <button type="button" class="btn btn-success" onclick="AddMethod();"> + Add Card </button>
        </div>

    </div>
</div>
<!-- ----------------------- END - Payment Methods ----------------------- -->


<!-- ----------------------- START - Billing History ----------------------- -->
{% if billing_history.all.count >= 1 %}
<div class="col-lg-12 col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 class="title">Billing History</h3>
        </div>

        <div class="card-body">
            <div class="table-responsive">

                <table class="table">

                    <!-- Table Head -->
                    <thead>
                        <tr>
                            <!-- <th class="text-center">#</th> -->
                            <th>DATE</th>
                            <th class="text-center">AMOUNT</th>
                            <th class="text-center">INVOICE</th>
                            <th class="text-right">STATUS</th>
                        </tr>
                    </thead>

                    <!-- Table Body -->
                    <tbody id="brick_wall">
                        {% include "billing/billing_history_table.html" %}
                    </tbody>

                </table>

            </div>
        </div>

    </div>
</div>
{% endif %}
<!-- ------------------------ END - Billing History ------------------------ -->

{% include "modals/payment_method.html" %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
