{% extends "layouts/base.html" %}

{% csrf_token %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


{% if client != None %}

<div class="row">

    <!-- ------------------------ Crypto Balance Chart ------------------------- -->
    <div class="col-lg-6">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-category">Ethereum Balance</h5>
                <h3 class="card-title"><i class="tim-icons icon-molecule-40 text-primary"></i> <span id="eth_balance_total"></span> </h3>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="chartLinePurple"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- --------------------------- AI Rental Chart --------------------------- -->
    <div class="col-lg-6">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-category">AI Unpaid Balance</h5>
                <h3 class="card-title"><i class="tim-icons icon-send text-success"></i> <span id="fiat_balance_total"></span> </h3>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="chartLineGreen"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- -------------------------- Performance Chart -------------------------- -->
<div class="row">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-header ">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <h5 class="card-category">Cumulative Earned</h5>
                        <h2 class="card-title" id="total_erned"></h2>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="chartBig1"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- --------------------------- Payment History --------------------------- -->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card ">
            <div class="card-header">
                <h4 class="card-title">Payment History</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table tablesorter " id="">
                        <thead class=" text-primary">
                            <tr>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Amount
                                </th>
                                <th>
                                    Source
                                </th>
                                <th class="text-center">
                                    Total
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    7/1/21
                                </td>
                                <td>
                                    0.209281431 ETH
                                </td>
                                <td>
                                    Cryptocurrency
                                </td>
                                <td class="text-center">
                                    $1,000
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    6/30/21
                                </td>
                                <td>
                                    $31.00
                                </td>
                                <td>
                                    AI/ML
                                </td>
                                <td class="text-center">
                                    $969.00
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    6/28/21
                                </td>
                                <td>
                                    $301
                                </td>
                                <td>
                                    Cryptocurrency
                                </td>
                                <td class="text-center">
                                    $668
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header ">
                No Units Found
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts('{{ user }}');
    });
</script>

{% endblock javascripts %}
