[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/opt/brickbox/
# ExecStart=/usr/local/bin/gunicorn --access-logfile - --workers 3 --bind unix:/opt/brickbox/brickbox.sock brickbox.wsgi:application
ExecStart=/opt/brickbox/bbenv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/opt/brickbox/brickbox.sock brickbox.wsgi:application


[Install]
WantedBy=multi-user.target
