[Unit]
Description = gunicorn daemon
After = network.target

[Service]
User = root
Group = www-data
WorkingDirectory = /opt/brickbox/

ExecStart   =   /opt/brickbox/bbenv/bin/gunicorn --access-logfile - --workers 5 --timeout 120 --bind unix:/opt/brickbox/brickbox.sock brickbox.wsgi:application --reload

ExecReload  =   /opt/brickbox/bbenv/bin/gunicorn --access-logfile - --workers 5 --timeout 120 --bind unix:/opt/brickbox/brickbox.sock brickbox.wsgi:application --reload

Restart = always

[Install]
WantedBy = multi-user.target
