<div class="card">
    <div class="card-header">
        <h5 class="title">Your personal API token</h5>
    </div>


    <div class="card-body">
        <div style="width: 450px;">
            <div class="form-group" style="width: 100%; display: flex;">
                <input style="margin-right: 10px;" type="text" class="form-control" value="API_Token" id="myInput" readonly>

                <div class="tool">
                    <button type="button" class="btn btn-success" onclick="myFunction()" onmouseout="outFunc()">
                      <span class="tooltext" id="myTooltip">Copy to clipboard</span>
                      Copy
                      </button>
                </div>
            </div>
            
        </div>

    </div>
</div>
