<div class="card">
    <div class="card-header">
        <h5 class="title">SSH Keys</h5>
    </div>


    <div class="card-body">
        <table class="table">
            <!-- Table Head -->
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="text-center">Delete</th>
                </tr>
            </thead>

            <!-- Table Body -->
            <tbody>
                {% for key in profile.keys.all %}
                <tr>
                    <td>{{ key.name }}</td>
                    <td>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <div class="card-footer">
        <button type="submit" class="btn btn-fill btn-primary" onclick="AddSHH()">Add Key</button>
    </div>
</div>

{% include 'profile/modals/new_key.html' %}
