{% extends "layouts/base.html" %}

{% block title %} Bricks {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <!-- -------------------- START - Create RTX 6000 Brick -------------------- -->
    <!-- <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="card">

            <div class="card-header">
                <h4 class="title">Add Brick Instance</h4>
                <p class="category">Ubuntu 18.04 LTS</p>
            </div>

            <div class="card-body">
                <p class="card-text">
                    GPU - x1 RTX 6000 <br>
                    vCPU - x4 Cores <br>
                    RAM - 12 GB <br>
                    SSD - 25 GB
                </p>
            </div>

            <div class="card-footer text-center">
                <p class="card-text text-muted">
                    $ 1.50 /hr
                </p>
                <button type="button" class="btn btn-success" onclick="CreateNewBrick()"> Place Brick </button>
            </div>

        </div>
    </div> -->
    <!-- --------------------- END - Create RTX 6000 Brick --------------------- -->


    <!-- ------------------------- START Create Brick -------------------------- -->
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
        <div class="card">

            <div class="card-header">
                <h4 class="title">Add Brick Instance</h4>

                <!-- OS IMG Selection -->

                <select id="os_selector_3090" class="form-control" {% if 3090_gpu_available != True %} disabled {% endif %}>
                    <option style="color: black;" selected></option>
                    {% for os in operating_system.all %}
                    <option style="color: black;" value="{{ os.id }}" {% if forloop.first %}selected{% endif %}>{{ os.distribution }}&nbsp;&nbsp;{{ os.version }}</option>
                    {% endfor %}
                </select>

                <!-- <p class="category">{{ operating_system.distribution }} {{ operating_system.version }} LTS</p> -->
            </div>

            <div class="card-body">
                <!-- <h5 class="title">Add Brick Instance</h5>
                <p class="category">Ubuntu 18.04 LTS</p> -->
                <p class="card-text">
                    <!-- OS - Ubuntu 18.04 LTS <br> -->
                    GPU - x1 3090 <br>
                    vCPU - x4 Cores <br>
                    RAM - 12 GB <br>
                    SSD - 50 GB
                </p>
            </div>

            <div class="card-footer text-center">
                <p class="card-text text-muted">
                    $ 0.75 /hr
                </p>
                <!-- <button type="button" class="btn btn-success" onclick="CreateNewBrick('3090')" {% if 3090_gpu_available != True %} disabled {% endif %}> Place Brick </button> -->
                <button type="button" class="btn btn-success" id="place3090" onclick="SetRootPassword('3090')" {% if 3090_gpu_available != True %} disabled {% endif %}> Place Brick </button>

            </div>

        </div>
    </div>
    <!-- ------------------------- END - Create Brick -------------------------- -->


    <!-- ---------------------- START - Create 3070 Brick ---------------------- -->
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
        <div class="card">

            <div class="card-header">
                <h4 class="title">Add Brick Instance</h4>
                <select id="os_selector_3070" class="form-control" {% if 3070_gpu_available != True %} disabled {% endif %}>
                    <option style="color: black;" selected></option>
                    {% for os in operating_system.all %}
                    <option style="color: black;" value="{{ os.id }}" {% if forloop.first %}selected{% endif %}>{{ os.distribution }}&nbsp;&nbsp;{{ os.version }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="card-body">
                <p class="card-text">
                    GPU - x1 3070 <br>
                    vCPU - x4 Cores <br>
                    RAM - 12 GB <br>
                    SSD - 50 GB
                </p>
            </div>

            <div class="card-footer text-center">
                <p class="card-text text-muted">
                    $ 0.50 /hr
                </p>
                <!-- <button type="button" class="btn btn-success" onclick="CreateNewBrick('3070')" {% if 3070_gpu_available != True %} disabled {% endif %}> Place Brick </button> -->
                <button type="button" class="btn btn-success" id="place3070" onclick="SetRootPassword('3070')" {% if 3070_gpu_available != True %} disabled {% endif %}> Place Brick </button>

            </div>

        </div>
    </div>
    <!-- ----------------------- END - Create 3070 Brick ----------------------- -->





    <!-- ------------------------ START Brick Instances ------------------------ -->
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Brick Wall</h5>
                <!-- <p class="category">Handcrafted by our friends from <a href="https://nucleoapp.com/?ref=1712">NucleoApp</a></p> -->
            </div>

            <div class="card-body">
                <div class="table-responsive">

                    <table class="table">

                        <!-- Table Head -->
                        <thead>
                            <tr>
                                <!-- <th class="text-center">#</th> -->
                                <th>Name</th>
                                <th class="text-center">SSH</th>
                                <!-- <th>Root Password</th> -->
                                <th class="text-right">Status</th>
                                <th class="text-right">Actions</th>
                            </tr>
                        </thead>

                        <!-- Table Body -->
                        <tbody id="brick_wall">
                            {% include "bricks/bricks-instances_table.html" %}
                        </tbody>

                    </table>

                </div>
            </div>

        </div>
    </div>
    <!-- ------------------------- END Brick Instances ------------------------- -->

</div>

<button type="button" id="feedback-btn" class="btn btn-info vertical-right-aligned">
    Feedback &nbsp; <i class="material-icons-outlined" style="vertical-align: middle;">feedback</i>
</button>

{% include "modals/brick_destroy_confirm.html" %}
{% include "modals/set_root_password.html" %}
{% include "bricks/modals/configure.html" %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{%  include 'includes/scripts-tellme.html' %}
{% endblock javascripts %}
