{% extends 'base.html' %}

{% load static %}

{% block title %}Dashboard | brickbox.io{% endblock %}
{% block menu_title %}Dashboard{% endblock %}

{% block body_class %}is-preload{% endblock %}

{% block content %}


<!-- Main -->
<article id="main">
    <header>
        <h2>Dashboard</h2>
    </header>
    <section class="wrapper style5">
        <div class="inner">

            <h3>Lorem ipsum dolor</h3>
            <p>Morbi mattis mi consectetur tortor elementum, varius pellentesque velit convallis. Aenean tincidunt lectus auctor mauris maximus, ac scelerisque ipsum tempor. Duis vulputate ex et ex tincidunt, quis lacinia velit aliquet. Duis non efficitur nisi, id malesuada justo. Maecenas sagittis felis ac sagittis semper. Curabitur purus leo, tempus sed finibus eget, fringilla quis risus. Maecenas et lorem quis sem varius sagittis et a est. Maecenas iaculis iaculis sem. Donec vel dolor at arcu tincidunt bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce ut aliquet justo. Donec id neque ipsum. Integer eget ultricies odio. Nam vel ex a orci fringilla tincidunt. Aliquam eleifend ligula non velit accumsan cursus. Etiam ut gravida sapien.</p>
            <!-- <img style="max-width: 1200px; width:100%" src="{% static '/images/nanopool_placeholder.png' %}"> -->

            <hr />

        </div>
    </section>
</article>

{% endblock %}
