{% extends "layouts/base.html" %}

{% csrf_token %}
{% load humanize %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


{% if client != None %}

<div class="row">

    <!-- ------------------------ Crypto Balance Chart ------------------------- -->
    <div class="col-lg-6">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-category">Ethereum Balance</h5>
                <h3 class="card-title"><i class="tim-icons icon-molecule-40 text-primary"></i> <span id="eth_balance_total"></span> </h3>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="chartLinePurple"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- --------------------------- AI Rental Chart --------------------------- -->
    <div class="col-lg-6">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-category">Vast Unpaid Balance</h5>
                <h3 class="card-title"><i class="tim-icons icon-send text-success"></i> <span id="fiat_balance_total"></span> </h3>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="chartLineGreen"></canvas>
                </div>
            </div>
        </div>
    </div>

    {% if client.account_name == 'brickbox.io' or debug %}
    <!-- ---------------------- brickbox.io Income Chart ----------------------- -->
    <!-- <div class="col-lg-6">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-category">brickbox.io Unpaid Balance</h5>
                <h3 class="card-title"><i class="tim-icons icon-coins text-success"></i> <span id="brickbox_balance_total"></span> </h3>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="chartLineBlue"></canvas>
                </div>
            </div>
        </div>
    </div> -->
    {% endif %}

</div>

<!-- -------------------------- Performance Chart -------------------------- -->
<!-- <div class="row">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-header ">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <h5 class="card-category">Cumulative Earned</h5>
                        <h2 class="card-title" id="total_erned"></h2>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="chartBig1"></canvas>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="row">

    <!-- ------------------ START - Monthly Payment Breakdown ------------------ -->
    <div class="col-lg-6">
        <div class="card card-chart">
            <div class="card-header">

                <div class="row">
                    <div class="col-sm-6 text-left">
                        <h5 class="card-category">Income</h5>
                        <h2 class="card-title">Monthly Breakdown</h2>
                    </div>
                    <div class="col-sm-6">
                        <div class="btn-group btn-group-toggle float-right" data-toggle="buttons" onclick="monthly_chart.initMonthlyBreakdown('{{ user }}', 2021);">
                            <label class="btn btn-sm btn-primary btn-simple" id="0">
                                <input type="radio" name="options">
                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">2021</span>
                                <span class="d-block d-sm-none">
                                    <!-- <i class="tim-icons icon-single-02"></i> -->
                                    2021
                                </span>
                            </label>
                            <label class="btn btn-sm btn-primary btn-simple active" onclick="monthly_chart.initMonthlyBreakdown('{{ user }}', 2022);">
                                <input type="radio" class="d-none d-sm-none" name="options" checked>
                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">2022</span>
                                <span class="d-block d-sm-none">
                                    <!-- <i class="tim-icons icon-gift-2"></i> -->
                                    2022
                                </span>
                            </label>
                            <!-- <label class="btn btn-sm btn-primary btn-simple" id="2">
                                <input type="radio" class="d-none" name="options">
                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Sessions</span>
                                <span class="d-block d-sm-none">
                                    <i class="tim-icons icon-tap-02"></i>
                                </span>
                            </label> -->
                        </div>

                    </div>
                    <!-- <h4 class="card-title">Payment History</h4> -->
                </div>

                <!-- <h4 class="card-title">Monthly Breakdown</h4> -->
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="chartMonthlyBreakdown"></canvas>
                </div>
            </div>
            <!-- </div> -->
            <!-- </div> -->
            <!-- ------------------- END - Monthly Payment Breakdown ------------------- -->


            <!-- --------------------------- Payment History --------------------------- -->
            <!-- <div class="col-lg-6 col-md-6"> -->
            <!-- <div class="card "> -->
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <!-- <h5 class="card-category">Payment History</h5> -->
                        <h2 class="card-title">Payout History</h2>
                    </div>

                    <!-- <h4 class="card-title">Payment History</h4> -->
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter " id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                    <th>
                                        Source
                                    </th>
                                    <th class="text-center">
                                        Total
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for payout in history %}
                                <tr>

                                    <!-- Date -->
                                    <td>
                                        {{ payout.dated.date }}
                                    </td>

                                    <!-- Amount -->
                                    <td>
                                        {% if payout.currency == '$' %}
                                        $ {{ payout.amount|floatformat }}
                                        {% endif %}

                                        {% if payout.currency == 'eth' %}
                                        {{ payout.amount|floatformat }} {{ payout.currency|upper }}
                                        {% endif %}
                                    </td>

                                    <!-- Source -->
                                    <td>
                                        {% if payout.currency == '$' %}
                                        AI Rental
                                        {% endif %}

                                        {% if payout.currency == 'eth' %}
                                        Mining
                                        {% endif %}
                                    </td>

                                    <!-- Total -->
                                    <td class="text-center">
                                        {% if payout.currency == '$' %}
                                        $&nbsp;{{ payout.amount|intcomma }}
                                        {% endif %}

                                        {% if payout.currency == 'eth' %}
                                        $&nbsp;{{ payout.dollar_price|intcomma }}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {% comment %}
        <!-- -------------------------- START - Unit List -------------------------- -->
        <div class="col-lg-6 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h4 class="card-title">Unit List</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">

                        <table class="table tablesorter" id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        Purchase Date
                                    </th>
                                    <th>
                                        QTY
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for units in profile.clients.all %}

                                <tr>

                                    <!-- Date -->
                                    <td>
                                        {{ unit.equipment.date_ordered }}
                                    </td>

                                    <!-- QTY -->
                                    <td>
                                        {{ units.equipment.all.count }}
                                    </td>

                                    <!-- Status -->
                                    <td>

                                    </td>
                                </tr>

                                {% endfor %}
                            </tbody>

                        </table>

                    </div>
                </div>
            </div>
        </div>
        <!-- --------------------------- END - Unit List --------------------------- -->{% endcomment %}

    </div>

    {% else %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header ">
                    No Units Found
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>

    {% endif %}

    {% endblock content %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}

    <script> nonce = "{{request.csp_nonce}}"
        window.onload = function () {
            $(document).ready(function () {
                // Javascript method's body can be found in assets/js/demos.js
                demo.initDashboardPageCharts('{{ user }}');
                monthly_chart.initMonthlyBreakdown('{{ user }}', ReqYear = 2022);
            });
        }

        var MonthlyBalanceChartCanvas;

    </script>

    {% endblock javascripts %}
