<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="eth_address">

    <div class="modal-dialog modal-xl" style="transform: translate(0, 0)">
        <div class="modal-content">
            <div class="modal-body">

                <!-- An input field for eth address -->
                <div class="form-group">
                    <label for="eth_address">ETH Address</label>
                    <input type="text" class="form-control" id="eth_address" placeholder="0x..." style="color: black;">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="confirm_eth_address_button">Confirm</button>
            </div>
        </div>
    </div>

</div>
