<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="payment_method">

    <div class="modal-dialog modal-xl" style="transform: translate(0, 0)">
        <div class="modal-content">
            <div class="modal-body">

                <form id="payment-form">
                    <div id="payment-element">
                        <!-- Elements will create form elements here -->
                    </div>
                    <div class="text-center" style="margin-top: 20px;">
                        <button id="submit" class="btn btn-success">Add Method</button>
                    </div>
                    <div id="error-message">
                        <!-- Display error message to your customers here -->
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-client="{{ request.user.id }}" id="confirm_button">I agree</button> -->
            </div>
        </div>
    </div>

</div>
