<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true" id="delete">

    <div class="modal-dialog modal-md" style="transform: translate(0, 0)">
        <div class="modal-content">
            <div class="modal-body">

               <h2>Are you sure you want to delete?</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                <button type="button" class="btn btn-primary" id="delete_button" onclick="">Delete</button>
            </div>
        </div>
    </div>

</div>
