<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="AddScript" aria-hidden="true" id="add_script">

    <div class="modal-dialog modal-md" style="transform: translate(0, 0)">
        <div class="modal-content">
            <div class="modal-body">

                <form class="form-group" autocomplete="off">

                    <!-- Set Script Name Input -->
                    <label for="script_name">Script Name</label>
                    <input type="text" class="form-control" id="script_name" style="color: black;" placeholder="">

                    <br>

                    <!-- Set Script Description Input -->
                    <label for="script_description">Script Description</label>
                    <textarea class="form-control" id="script_description" style="color: black;" rows="3" placeholder=""></textarea>

                    <br>

                    <!-- Set Script Input -->
                    <label for="script_code">Script</label>
                    <textarea class="form-control" id="script_code" style="color: black;" rows="3" placeholder=""></textarea>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="add_script_button" onclick="AddNewScript(this.dataset.model)">Create</button>
            </div>
        </div>
    </div>

</div>
