<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="setRootPass" aria-hidden="true" id="set_root_password">

    <div class="modal-dialog modal-md" style="transform: translate(0, 0)">
        <div class="modal-content">
            <div class="modal-body">
                <!-- <p>
                    Set root password to continue.
                </p> -->

                <!-- Set Root Password Input -->
                <form class="form-group" autocomplete="off">
                    <label for="root_password">Set custom root password, leave blank to use default "root".</label>
                    <input type="password" class="form-control" id="root_password" style="color: black;" placeholder="">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="confirm_pass_button" onclick="CreateNewBrick(this.dataset.model)">Confirm</button>
            </div>
        </div>
    </div>

</div>
