{% extends 'base.html' %}

{% load static %}

{% block title %}About | brickbox.io{% endblock %}
{% block menu_title %}About{% endblock %}

{% block body_class %}is-preload{% endblock %}

{% block content %}

<!-- Main -->
<article id="main">
    <header>
        <h2>About brickbox.io</h2>
        <p>From Trains to Tech</p>
    </header>
    <section class="wrapper style5">
        <div class="inner">

            <h3>A City Built on Innovation</h3>
	    <p>Altoona is a city built on invention and innovation. 200 years later, Altoona is back on the front lines pioneering new technology and forging an incredible, new future.
	    <br>
	    <br>
	    brickbox.io is located in the heart of Altoona's rich, historical center. The same place that trains were built to make the world smaller, our colocation data center is paving the path for developers and engineers to, once again, advance the world into a new era.
	    
	    <hr />
	    <h4>What is Colocation?</h4>
	    <p>Colocation centers, or "colos," are a type of data center where equipment, space, and processing power is available for rent to customers. Colo facilities provide space, power, cooling, security, and management of computer equipment for users that would not typically have access to this type of infrastructure. All of the power without the cost or complexity.</p>



        </div>
    </section>
</article>

{% endblock %}
