<!DOCTYPE HTML>

{% load static %}
{% load compress %}

<html>

{% include "head.html" %}

<body class="is-preload">
    <div class="main-container">
        <header>
            <a name="home"></a>
            <div class="content-container">
                {% include "nav.html" %}
            </div>
        </header>
        <section class="content">
            <div class="content-container">
                content goes here
            </div>
        </section>
        {% include "footer.html" %}
    </div>

    {% include "modals.html" %}

    <script src="{% static 'js/main.js' %}"></script>

    <script src="{% static 'js/landing.js' %}"></script>

    {% compress js inline %}
    <script src="{% static 'js/csrf.js' %}"></script>
    {% endcompress %}

</body>

</html>

