<!DOCTYPE HTML>

{% load static %}
{% load compress %}

<html lang="en">

<head>
    <title>
        brickbox.io {% block title %}{% endblock %}
    </title>

    {% include "bb_public_head.html" %}
    {% block stylesheets %}{% endblock %}
</head>


<body class="is-preload">
    <div class="main-container">


        {% block header %}{% endblock %}

        {% block content %}{% endblock %}

        {% include "bb_public_footer.html" %}

    </div>

    {% include "modals.html" %}

    <script src="{% static 'js/main.js' %}"></script>

    <script src="{% static 'js/landing.js' %}"></script>

    {% compress js inline %}
    <script src="{% static 'js/csrf.js' %}"></script>
    <script src="{% static 'js/form_handling/contact_us.js' %}"></script>
    {% endcompress %}

</body>

</html>
