{% load static %}
{% load compress %}

<!DOCTYPE HTML>

<html>

<head>
    <title>brickbox.io</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'css/ai/main.css' %}" />
    <noscript>
        <link rel="stylesheet" href="{% static 'css/ai/noscript.css' %}" />
    </noscript>

    <link rel="shortcut icon" type="image/png" href="{% static 'brickbox_icon/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'brickbox_icon/apple-icon-57x57.png' %}" />
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'brickbox_icon/apple-icon-60x60.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'brickbox_icon/apple-icon-72x72.png' %}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'brickbox_icon/apple-icon-76x76.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'brickbox_icon/apple-icon-114x114.png' %}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'brickbox_icon/apple-icon-120x120.png' %}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'brickbox_icon/apple-icon-144x144.png' %}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'brickbox_icon/apple-icon-152x152.png' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'brickbox_icon/apple-icon-180x180.png' %}" />
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'brickbox_icon/android-icon-192x192.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'brickbox_icon/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'brickbox_icon/favicon-96x96.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'brickbox_icon/favicon-16x16.png' %}" />
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'brickbox_icon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QZQPQ7EV5P"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-QZQPQ7EV5P', { cookie_flags: 'SameSite=None;Secure' });
    </script>

    <script id="mcjs">!function (c, h, i, m, p) { m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p) }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/a626d38bfb20209717cccbbe3/96eabc780208eb0d6c7af5c15.js");</script>
</head>

<body class="is-preload landing">
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header">
            <h1 id="logo"><a href="{% url 'bb_public:ai_landing_page' %}"><strong>marketplace</strong> by brickbox.io</a></h1>
            <nav id="nav">
                <ul>
                    <!--<li><a href="index.html">Home</a></li>
							<li>
								<a href="#">Layouts</a>
								<ul>
									<li><a href="left-sidebar.html">Left Sidebar</a></li>
									<li><a href="right-sidebar.html">Right Sidebar</a></li>
									<li><a href="no-sidebar.html">No Sidebar</a></li>
									<li>
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Option 1</a></li>
											<li><a href="#">Option 2</a></li>
											<li><a href="#">Option 3</a></li>
											<li><a href="#">Option 4</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="elements.html">Elements</a></li>-->

                    {%  if user.is_authenticated %}
                    <li><a href="{% url 'django_dash_black:dash' %}" class="button primary">View Dashboard</a></li>
                    {% else %}
                    <li><a href="{% url 'bb_accounts:register' %}" class="button primary">Sign Up</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>


        <!-- Banner -->
        <section id="banner">
            <div class="content">
                <header>
                    <h2><span style="font-weight: 900">marketplace</span> <span style="font-weight: 300">by brickbox.io</span></h2>
                    <p>The toolbox for the future.</p>
                </header>
                <span class="image"><img src="{% static 'images/ai/bbLogo.png' %}" alt="" /></span>
            </div>
            <a href="#one" class="goto-next scrolly">Next</a>
        </section>

        <!-- One -->
        <section id="one" class="spotlight style1 bottom">
            <span class="image fit main"><img src="{% static 'images/ai/data_idea.jpg' %}" alt="" /></span>
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-4 col-12-medium">
                            <header>
                                <h2>Artificial Intelligence</h2>
                                <p>The Fourth Industrial Revolution</p>
                            </header>
                        </div>
                        <div class="col-4 col-12-medium">
                            <p>From 2015-2019, Artifical Intelligence use in business grew by over 270% and is expected to be a $267 billion market by 2027. Using brickbox.io's infrastructure, our clients are laying the foundation for the future.
                            </p>
                        </div>
                        <div class="col-4 col-12-medium">
                            <p><strong>"The future is already here -- it's just not very evenly distributed."</strong> Our goal is to level the playing field offering affordable computing power and distribute opportunity to all talent.</p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#two" class="goto-next scrolly">Next</a>
        </section>

        <!-- Two -->
        <section id="two" class="spotlight style2 right">
            <span class="image fit main"><img src="{% static 'images/ai/bot.jpg' %}" alt="" /></span>
            <div class="content">
                <header>
                    <h2>Extremely Powerful Processing</h2>
                    <p>Hardware Dedicated to Your Needs</p>
                </header>
                <p>Do not be concerned about scarcity or shortages. The brickbox.io bricks are dedicated machines and tailored to your needs. We believe in providing the most power at the most affordable rates.
                    <br>
                    <br>
                    We built brickbox.io with machine learning in mind, therefore, all of the libraries, like TensorFlow, PyTorch, CUDA, among the others you know and love, are readily available.
                </p>
                <ul class="actions">
                    <li><a href="{% url 'bb_accounts:register' %}" class="button">Get Started</a></li>
                </ul>
            </div>
            <a href="#three" class="goto-next scrolly">Next</a>
        </section>

        <!-- Three -->
        <section id="three" class="spotlight style3 left">
            <span class="image fit main bottom"><img src="{% static 'images/ai/neural.jpg' %}" alt="" /></span>
            <div class="content">
                <header>
                    <h2>Machine Learning</h2>
                    <p>Humanity's Last Invention</p>
                </header>
                <p>There are key moments of innovation in history that re-shaped humanity: the discovery of fire, the harnessing of electricity, the combustion engine. At brickbox.io, we believe that Artificial Intelligence is the next major catalyst of humanity's transformation.
                    <br><br>
                    By democratizing and distributing processing power at affordable rates around the globe, we are providing the tools and infrastructure to the architects of the future.
                </p>
                <ul class="actions">
                    <li><a href="{% url 'bb_accounts:register' %}" class="button">Sign Up</a></li>
                </ul>
            </div>
            <a href="#four" class="goto-next scrolly">Next</a>
        </section>

        <!-- Four -->
        <!--<section id="four" class="wrapper style1 special fade-up">-->
        <div class="container">
            <!--
						<header class="major">
							<h2>Accumsan sed tempus adipiscing blandit</h2>
							<p>Iaculis ac volutpat vis non enim gravida nisi faucibus posuere arcu consequat</p>
						</header>
						<div class="box alt">
							<div class="row gtr-uniform">
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-chart-area"></span>
									<h3>Ipsum sed commodo</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-comment"></span>
									<h3>Eleifend lorem ornare</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-flask"></span>
									<h3>Cubilia cep lobortis</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>-->


            <!-- Table -->
            <section class="col-12">
                <header class="gputable">
                    <h2>Currently Available GPUs</h2>
                </header>
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th style="text-align: center;">GPU</th>
                                <th style="text-align: center;">Description</th>
                                <th style="text-align: center;">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>RTX 3070</td>
                                <td>4x vCPU, 12GB RAM, 25GB SDD</td>
                                <td><strike>$0.55/hr</strike> All Rented</td>
                            </tr>
                            <tr>
                                <td>RTX 3090</td>
                                <td>4x vCPU, 12GB RAM, 25GB SDD</td>
                                <td>$0.75/hr</td>
                            </tr>
                            <!-- <tr>
                                <td>1x RTX 3070</td>
                                <td>1x3070, 4GB RAM, 10GB SDD</td>
                                <td>$0.65/hr</td>
                            </tr>
                            <tr>
                                <td>1x RTX 3090</td>
                                <td>1x3090, 4GB RAM, 10GB SDD</td>
                                <td>$0.80/hr</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
    <footer class="major">
        <ul class="actions special">
            <li><a href="{% url 'bb_accounts:register' %}" class="button">Get Started</a></li>
        </ul>
    </footer>
    </div>
    </section>

    <!-- Five -->
    <section id="five" class="wrapper style2 special fade">
        <div class="container">
            <header>
                <h2>BUILD THE FUTURE</h2>
                <p> Sign up below to be the first to receive news and updates! </p>
            </header>
            <!-- <form method="post" action="{% url 'bb_public:forms_email_list' %}" class="cta" id="email_input"> {% csrf_token %} -->
            <div class="cta" id="email_input" style="max-width: 35em; margin-left: auto; margin-right:auto;">
                <div class="row gtr-uniform gtr-50">
                    <div class="col-8 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
                    <div class="col-4 col-12-xsmall"><input type="submit" value="Submit" class="fit primary" onclick="SubmitEmail()" /></div>
                </div>
            </div>
            <!-- </form> -->
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <ul class="icons">
            <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.facebook.com/brickboxio" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
            <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="https://github.com/brickbox-io" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="mailto: info@brickbox.io" target="_blank" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; {% now "Y" %} brickbox.io | All rights reserved.</li>
        </ul>
    </footer>

    </div>

    <!-- Scripts -->
    <script src="{% static 'js/ai/jquery.min.js' %}"></script>
    <script src="{% static 'js/ai/jquery.scrolly.min.js' %}"></script>
    <script src="{% static 'js/ai/jquery.dropotron.min.js' %}"></script>
    <script src="{% static 'js/ai/jquery.scrollex.min.js' %}"></script>
    <script src="{% static 'js/ai/browser.min.js' %}"></script>
    <script src="{% static 'js/ai/breakpoints.min.js' %}"></script>
    <script src="{% static 'js/ai/util.js' %}"></script>
    <script src="{% static 'js/ai/main.js' %}"></script>

    <script src="{% static 'js/ai/landing.js' %}"></script>

    {% compress js inline %}
    <script src="{% static 'js/csrf.js' %}"></script>
    {% endcompress %}

</body>

</html>
