{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Page Wrapper -->
<!-- <div id="page-wrapper"> -->

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>brickbox.io</h2>
        <p>Building the foundation<br />
            for the architects of the future.</p>
        <ul class="actions special">
            <li><a href="#one" class="button primary scrolly">Learn More</a></li>
        </ul>
    </div>
    <a href="#one" class="more scrolly"></a>
</section>

<!-- One -->
<section id="one" class="wrapper style1 special">
    <div class="inner">
        <header class="major">
            <h2>All of the Cloud; None of the Rain</h2>
            <p>brickbox.io is a colocation data center headquartered in Central Pennsylvania. Low-rate electricity and incentives for innovation allows brickbox.io to live on the bleeding edge of technology. Benefit from the excitement of owning the technology of tomorrow without the headaches of being a trailblazer.<br />
              </p>
        </header>
        <ul class="icons major">
            <li><span class="icon fa fa-cloud major style1"><span class="label">Lorem</span></span></li>
            <li><span class="icon fa fa-server major style2"><span class="label">Ipsum</span></span></li>
            <li><span class="icon solid fa fa-code major style3"><span class="label">Dolor</span></span></li>
        </ul>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper alt style2">
    <section class="spotlight">
        <div class="image"><img src="{% static 'images/servers.png' %}" alt="" /></div>
        <div class="content">
            <h2>Cryptocurrency</h2>
            <p>Cryptocurrency is the largest societal and ideological movement of our lifetime. The effects and innovation of blockchain technology will ripple throughout the world. Be a part of the movement without the volatility of a highly speculative asset. </p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="{% static 'images/gpu1.png' %}" alt="" /></div>
        <div class="content">
            <h2>Artificial Intelligence</h2>
            <p>From 2015-2019, Artifical Intelligence use in business grew by over 270% and is expected to be a $267 billion market by 2027. brickbox.io's datacenter is training the datasets that will become the backbone of society. </p>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="{% static 'images/dash.png' %}" alt="" /></div>
        <div class="content">
            <h2>User Dashboard</h2>
            <p>When you own an asset, you want to know that it is performing. Users that utilize the space at brickbox.io will have access to all of the data they need to know that their assets are performing at the best of their abilities.</p>
        </div>
    </section>
</section>


<!-- CTA -->
<section id="cta" class="wrapper style4">
    <div class="inner">
        <header>
            <h2>Build the Future</h2>
	    <p>With over $250,000 in assets under management, brickbox.io is rapidly expanding and providing the computing power to the architects of the future. <br><br>
	    <strong style="font-size:20px">Are you ready to fuel the 21st Century?</strong></p>
        </header>
        <ul class="actions stacked">
            <li><a href="/contact" class="button fit primary">Activate</a></li>
            <li><a href="/about" class="button fit">Learn More</a></li>
        </ul>
    </div>
</section>


<!-- </div> -->


{% endblock %}
