<!DOCTYPE html>
{% load static %}

<nav>
    <div class="nav-container">
        <div class="header-links" id="nav-links">
            <ul>
                <li style="font-weight: 700;">
                    <a href="#home">
                        <img src="{% static 'images/brickbox-transparent.webp' %}" alt="" />
                        brickbox.io
                    </a>
                </li>
                <!-- <li>
                    <a href="">Products</a>
                </li> -->
                <li>
                    <a href="#price">Pricing</a>
                </li>
                <li>
                    <a href="https://knowledge.brickbox.io/" target="_blank">Knowledgebase</a>
                </li>
            </ul>

            {%  if user.is_authenticated %}
            <a class="btn" href="{% url 'bb_dashboard:dashboard' %}">Log In</a>
            {% else %}
            <a class="btn" href="{% url 'bb_accounts:register' %}">Sign Up</a>
            {% endif %}

        </div>
    </div>
    <button type="button" class="icon mobile-icon" onclick="myFunction()" aria-label="Mobile Menu Toggle">
        <i class="fa fa-bars"></i>
    </button>
</nav>
