{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Offline | brickbox.io{% endblock %}</title>
    <link href="{% static 'css/pwa.css' %}" rel="stylesheet">
    <link rel="manifest" href="/manifest.json">

    <link rel="shortcut icon" type="image/png" href="{% static 'brickbox_icon/favicon.ico' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'brickbox_icon/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'brickbox_icon/favicon-96x96.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'brickbox_icon/favicon-16x16.png' %}" />
</head>

<body style="text-align:center; padding:50px;">
    <h1>You are currently not connected to any networks.</h1>
</body>

</html>
